#textdomain wesnoth-Miss-Scepter
[unit_type]
    id=Blackcrystal
    name= _ "Blackcrystal"
    race=mechanical
    image="units/black-c.gif"
    profile="units/black-c.png"
    movement=0
    hitpoints=100
    experience=15
    level=1
    advances_to=null
    cost=800
    usage=mixed fighter
    [abilities]
        {ABILITY_AMBUSH}
    [/abilities]
    movement_type=woodland
    alignment=chaotic
    description= _ "The Black Melancholic Crystal"
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [resistance]
        cold=100
        pierce=100
    [/resistance]
[/unit_type]
