[textdomain]
name="wesnoth-Missing_Scepter"
path="data/campaigns/Missing_Scepter/translations"
[/textdomain]
#textdomain wesnoth-Missing_Scepter
[scenario]
    id=09_Carcyn
    name= _ "Carcyn"
    next_scenario=10_River_Listra
    map_data="{~campaigns/Missing_Scepter/maps/09_carcyn.map}"
    {TURNS 10 9 8}
    {SCENARIO_MUSIC "love_theme.ogg"}
    {EXTRA_SCENARIO_MUSIC "wanderer.ogg"}
    victory_when_enemies_defeated=no
    shroud=yes
    {DAWN}
    {MORNING}
    {AFTERNOON}
    {DUSK}
    {FIRST_WATCH}
    {SECOND_WATCH}

    [side]
        side=1
        controller=human
        team_name=good
        user_team_name= _ "Civilians"
        ##:: Leader Info
        type=Flotsom White
        id=Flotsom
        id=Flotsom
        name="Flotsom"
        user_description=Flotsom
        profile="flotsom.png"
        gender=male
        canrecruit=yes
        unrenamable=true
        x=5
        y=5
        recruit=Spearman
        {INCOME 7 5 5}
    [/side]
    [side]
        side=2
        controller=ai
        team_name=good
        user_team_name= _ "Guard"
        type=Lieutenant
        profile="portraits/humans/lieutenant.png"
        id=Harbor
        name=Harbor
        name="Harbor Master"
        canrecruit=yes
        unrenamable=true
        x=5 # doesn't work without these.  irrelevant, though
        y=5
        recruit=Cavalryman
        {GOLD 0 0 0}
        {INCOME 2 2 2}
        [ai]
            aggression=0.0
            caution=1.0
            {ATTACK_DEPTH 4 4 3}
        [/ai]
    [/side]
    [event]
        name=prestart
        [recall]
            id=Gongadin
        [/recall]
        [recall]
            id=Homz
        [/recall]
        [recall]
            id=Squeeky
        [/recall]
        #reset gold held to 600
        [store_gold]
            side=1
            variable=isle_damned_starting_gold
        [/store_gold]
        {VARIABLE_OP isle_damned_starting_gold multiply -1}
        [gold]
            side=1
            amount=$isle_damned_starting_gold
        [/gold]
        [gold]
            side=1
            amount=600
        [/gold]
        {VARIABLE_OP isle_damned_starting_gold multiply -1}
        {PLACE_IMAGE scenery/lighthouse.png 2 2}
        {PLACE_IMAGE scenery/pine2.png 15 10}
        {PLACE_IMAGE scenery/rune1.png 7 6}
        {PLACE_IMAGE scenery/rune2.png 12 5}
        {PLACE_IMAGE scenery/rune3.png 14 5}
        {PLACE_IMAGE scenery/rune4.png 17 7}
        {PLACE_IMAGE units/transport/boat.png 7 3}
        {PLACE_IMAGE units/transport/galleon.png 12 2}
        {PLACE_IMAGE units/transport/pirate-galleon.png 17 4}
        {PLACE_IMAGE units/transport/transport-galleon.png 20 5}

        ##:: Objectives
        [objectives]
            [objective]
                description= _ "Find a ship's captain"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Flotsom"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Homz"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Squeeky"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Gongadin"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
        [/objectives]
        [disallow_recruit]
            side=1
            type=Giant Spider,Spearman
        [/disallow_recruit]
    [/event]
    [event]
        name=start
        [message]
            speaker="Harbor"
            message= _ "Welcome to Carcyn's harbor. You are looking to travel up the River Listra? Well, we have four captains with different cargo carrying capacities."
        [/message]
        [message]
            speaker="Harbor"
            message= _ "There is Captain Os. A bargain at 100 gold. However, when you get to the end of the voyage, you will not be able train anyone. So whoever is in your company now is what you will have at the final destination."
            image="/scenery/rune1-glow.png"
        [/message]
        [message]
            speaker="Harbor"
            message= _ "There is Captain Jera. Can carry anything for 500 gold--except spiders. Funny how some captains don't like those cute hairy eight-legged things running about the deck...and the walls...ceilings...dripping venom everywhere. When you get to the end of the voyage, you will be able to recruit bowmen, spearmen, and horsemen"
            image="/scenery/rune2-glow.png"
        [/message]
        [message]
            speaker="Harbor"
            message= _ "There is Captain Jear. He can carry anything for 600 gold--and he likes spiders. However, when you get to the end of the voyage, the only crew who would sign up with you will be riffraff."
            image="/scenery/rune3-glow.png"
        [/message]
        [message]
            speaker="Harbor"
            message= _ "There is Captain Gar. He can carry anything for 700 gold. You do have 700 gold, right? When you get to the end of the voyage, you will be able to recruit bowmen, spearmen, horsemen, and mages."
            image="/scenery/rune4-glow.png"
        [/message]
        [message]
            speaker="Harbor"
            message= _ "When you are ready, just step on board their vessel."
            image="portraits/humans/lieutenant.png"
        [/message]
        [set_variable]
            name=batwand
            value="0"
        [/set_variable]
        [set_variable]
            name=wand
            value="0"
        [/set_variable]
    [/event]
    [event]
        name=moveto
        [filter]
            x=2
            y=2
            side=1
        [/filter]
        [sound]
            name=gold.ogg
        [/sound]
        [message]
            speaker=unit
            message= _ "I found a gold piece!"
        [/message]
        [gold]
            side=1
            amount=1
        [/gold]
        [removeitem]
        [/removeitem]
    [/event]
    ##Move to's
    [event]
        name=moveto
        [filter]
            side=1
            x=7
            y=6
        [/filter]
        [redraw]
        [/redraw]
        [message]
            speaker=narrator
            message= _ "<128,255,255>Captain Os, 100 Gold
            
Who you have in your party now is what you will have at the destination. "
            image=scenery/rune1.png
        [/message]
        [allow_undo]
        [/allow_undo]
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x=12
            y=5
        [/filter]
        [redraw]
        [/redraw]
        [message]
            speaker=narrator
            message= _ "<255,128,255>Captain Jera, 500 Gold
                
Will ship  bowmen, spearmen, and horsemen, but not spiders."
            image=scenery/rune2.png
        [/message]
        [allow_undo]
        [/allow_undo]
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x=14
            y=5
        [/filter]
        [redraw]
        [/redraw]
        [message]
            speaker=narrator
            message= _ "<255,255,128>Captain Jear, 600 Gold
        
Will ship spiders, but you will have to put up with riffraff as recruits."
            image=scenery/rune3.png
        [/message]
        [allow_undo]
        [/allow_undo]
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x=17
            y=7
        [/filter]
        [redraw]
        [/redraw]
        [message]
            speaker=narrator
            message= _ "<220,220,220>Captain Jera, 700 Gold
                
Will ship bowmen, spearmen, and horsemen, mages, and your spiders."
            image=scenery/rune4.png
        [/message]
        [allow_undo]
        [/allow_undo]
    [/event]

    ##Ends
    [event]
        name=moveto
        [filter]
            side=1
            x=7
            y=3
        [/filter]
        [gold]
            side=1
            amount=-100
        [/gold]
        [sound]
            name=gold.ogg
        [/sound]
        [endlevel]
            result=victory
            bonus=no
            next_scenario=10a_River_Listra
        [/endlevel]
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x=12
            y=2
        [/filter]
        [gold]
            side=1
            amount=-500
        [/gold]
        [sound]
            name=gold.ogg
        [/sound]
        [endlevel]
            result=victory
            bonus=no
            next_scenario=10b_River_Listra
        [/endlevel]
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x=17
            y=4
        [/filter]
        [gold]
            side=1
            amount=-600
        [/gold]
        [sound]
            name=gold.ogg
        [/sound]
        [endlevel]
            result=victory
            bonus=no
            next_scenario=10c_River_Listra
        [/endlevel]
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x=20
            y=5
        [/filter]
        [gold]
            side=1
            amount=-700
        [/gold]
        [sound]
            name=gold.ogg
        [/sound]
        [endlevel]
            result=victory
            bonus=no
            next_scenario=10d_River_Listra
        [/endlevel]
    [/event]
    {@campaigns/Missing_Scepter/units}
    {@campaigns/Missing_Scepter/utils/carryover.cfg}
    {@campaigns/Missing_Scepter/utils/deaths.cfg}
[/scenario]
